$font: "Montserrat", sans-serif;

$col-white: #fff;
$col-light: rgb(255, 255, 255);
$col-black: #000;
$col-dark: rgb(17, 24, 39);
$col-grey: rgb(107, 114, 128);
$col-light-grey: rgb(243, 244, 246);
$col-danger: rgb(239, 58, 68);
$col-primary: rgb(37, 99, 235);
$col-success: rgb(16, 185, 129);
$col-warning: rgb(245, 158, 11);
$col-error: rgb(239, 68, 68);
$col-info: rgb(59, 130, 246);

$shadow-primary: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 2px 0px;
