@import "@/styles/abstracts/variables";
@import "@/styles/abstracts/mixins";
@import "@/styles/abstracts/functions";

.confirmation-dialog {
  &__text {
    p {
      margin-top: 0.25rem;
      font-size: toRem(14px);
      color: $col-grey;
    }
  }

  &__controls {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    :last-child {
      margin-left: 0.5rem;
    }
  }
}
